<p id="notice"><%= notice %></p>

<p>
  <strong>War:</strong>
  <%= @war_zero.war %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @war_zero.participant %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @war_zero.reason %>
</p>

<%= link_to 'Edit', edit_war_zero_path(@war_zero) %> |
<%= link_to 'Back', war_zeros_path %>
