<h1 class="page-header">Edit: Bank of Bravos vs. <%=@war.opponent%></h1>

<%= form_for(@war) do |f| %>
  <div class="field">
    Opponent: <%= f.text_field :opponent %>
  </div>

  <div class="field">
    Bank of Braavos Stars: <%= f.select :stars, Array(0..150) %>
  </div>

  <div class="field">
    Bank of Braavos Destruction %: <%= f.number_field :destruction, :step => 0.01 %>
  </div>

  <div class="field">
    Opponent Stars: <%= f.select :opp_stars, Array(0..150) %>
  </div>

  <div class="field">
    Opponent Destruction %: <%= f.number_field :opp_destruction, :step => 0.01 %>
  </div>

  <div class="actions">
    <%= f.submit "Save Edits", class: "btn btn-success" %>
  </div>
<% end %>

