<div id="war_index">

<h1 class="page-header">Clan War History</h1>

<% if user_signed_in? %>
  <%= link_to 'Add War', new_war_path, class: "btn btn-success" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Opponent</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wars.each do |war| %>
      <tr>
        <td><%= war.opponent %></td>
        <td><%= link_to 'Show', war %></td>
        <td><%= link_to 'Edit', edit_war_path(war) %></td>
        <td><%= link_to 'Destroy', war, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


