<div id="war_index">

<h1 class="page-header">Clan War History</h1>

<!-- Add War Button -->
<% if user_signed_in? %>
  <%= link_to 'Add War', new_war_path, class: "btn btn-success" %>
<% end %>

<!-- List Wars -->
<% @wars.each do |war| %>
    <%= war.opponent %>
    <%= link_to 'Show', war %>
    <%= link_to 'Edit', edit_war_path(war) %>
    <%= link_to 'Destroy', war, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


</div><!-- #war_index  -->

