
<!-- WAR HERO -->
  <h3><span>War Hero</span></h3>
<!-- ADD WAR HERO -->
  <% if user_signed_in? %>
    <%= form_for(@war_hero) do |f| %>
      <div class="field">
        <%= f.select(@select_from_participations) %>
      </div>
      <div class="field">
        Reason: <%= f.text_field :reason %>
      </div>
      <div class="actions">
        <%= f.submit "Add War Hero", class: "btn btn-success" %>
      </div>
    <% end %>
  <% end %>
<!-- SHOW WAR HERO -->
  <% @war_heros.each do |war_hero| %>
    <%= render 'war_heros/war_hero', war_hero: war_hero %>
  <% end %>




<!-- WAR zero -->
  <h3><span>War zero: </span></h3>
<!-- ADD WAR zero -->
  <% if user_signed_in? %>
    <%= form_for(@war_zero) do |f| %>
      <%= f.hidden_field :war_id, :value => @war.id %>

      <div class="field">
        <%= f.select(:participant_id, @select_from_participants) %>
      </div>
      <div class="field">
        Reason: <%= f.text_field :reason %>
      </div>
      <div class="actions">
        <%= f.submit "Add War zero", class: "btn btn-success" %>
      </div>
    <% end %>
  <% end %>
<!-- SHOW WAR zero -->
  <% @war_zeros.each do |war_zero| %>
    <%= render 'war_zeros/war_zero', war_zero: war_zero %>
  <% end %>










