<p id="notice"><%= notice %></p>

<p>
  <strong>Opponent:</strong>
  <%= @war.opponent %>
</p>

<p>
  <strong>Result:</strong>
  <%= @war.result %>
</p>

<%= link_to 'Edit', edit_war_path(@war) %> |
<%= link_to 'Back', wars_path %>
