<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= @war_hero.participant %>
</p>

<p>
  <strong>Description:</strong>
  <%= @war_hero.description %>
</p>

<%= link_to 'Edit', edit_war_hero_path(@war_hero) %> |
<%= link_to 'Back', war_heros_path %>
