<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @member.user_name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @member.rank %>
</p>

<p>
  <strong>Status:</strong>
  <%= @member.status %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
