<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @participant.member %>
</p>

<p>
  <strong>War:</strong>
  <%= @participant.war %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
