<%= form_for(@violation) do |f| %>

  <div class="field">
    <%= f.label :member_id %><br>
     <%= f.select :member_id, options_for_select(@members) %>
  </div>
  <div class="field">
    <%= f.label :violation_description_id %><br>
    <%= f.select :violation_description_id, options_for_select(@descriptions) %>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
