<p id="notice"><%= notice %></p>

<h1>Listing Violations</h1>

<% @violations.each do |violation| %>
  <div class="alert alert-danger">
    <%= violation.member.user_name %>
    <%= violation.description %>
    <%= link_to 'Show', violation %>
    <%= link_to 'Edit', edit_violation_path(violation) %>
    <%= link_to 'Destroy', violation, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<%= link_to 'New Violation', new_violation_path %>
