<%= form_for(@violation) do |f| %>
  <% if @violation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@violation.errors.count, "error") %> prohibited this violation from being saved:</h2>

      <ul>
      <% @violation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :violation_type_id %><br>
    <%= f.text_field :violation_type_id %>
  </div>
  <div class="field">
    <%= f.label :particpant_id %><br>
    <%= f.text_field :particpant_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
