<p id="notice"><%= notice %></p>

<p>
  <strong>Violation type:</strong>
  <%= @violation.violation_type %>
</p>

<p>
  <strong>Particpant:</strong>
  <%= @violation.particpant %>
</p>

<%= link_to 'Edit', edit_violation_path(@violation) %> |
<%= link_to 'Back', violations_path %>
