<%= form_for(@violation_description) do |f| %>
  <% if @violation_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@violation_description.errors.count, "error") %> prohibited this violation_description from being saved:</h2>

      <ul>
      <% @violation_description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :violation_id %><br>
    <%= f.text_field :violation_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
