<p id="notice"><%= notice %></p>

<h1>Listing Violation Descriptions</h1>

<table>
  <thead>
    <tr>
      <th>Violation</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @violation_descriptions.each do |violation_description| %>
      <tr>
        <td><%= violation_description.violation %></td>
        <td><%= violation_description.content %></td>
        <td><%= link_to 'Show', violation_description %></td>
        <td><%= link_to 'Edit', edit_violation_description_path(violation_description) %></td>
        <td><%= link_to 'Destroy', violation_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Violation description', new_violation_description_path %>
