<p id="notice"><%= notice %></p>

<p>
  <strong>Violation:</strong>
  <%= @violation_description.violation %>
</p>

<p>
  <strong>Content:</strong>
  <%= @violation_description.content %>
</p>

<%= link_to 'Edit', edit_violation_description_path(@violation_description) %> |
<%= link_to 'Back', violation_descriptions_path %>
