<!DOCTYPE html>
<html>
<head>
  <title>BankOfBraavos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Wars", wars_path %>
  <%= link_to "Members", members_path %>
  <%= link_to "Violations", violations_path %>
  <%= link_to "Policy", pages_policy_path %>



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>


