<%= form_for(@member) do |f| %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :rank_id %><br>
    <%= f.select(:rank_id, @select_rank) %>
  </div>
  <div class="field">
    <%= f.label :activity_status_id %><br>
    <%= f.select(:activity_status_id, @select_activity_status) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
