<% members.each do |member| %>
<div class="member well well-sm">
  <span><%= link_to member.user_name, member %></span> |
  <span><%= member.rank.title %></span>

  <span class="badge" data-toggle="tooltip" data-placement="top" title="Total Wars"><%= member.participations.length%></span>

  <% member.war_heros.each do %>
    <span data-toggle="tooltip" data-placement="top" title="War Hero"><%= image_tag "heroicon.png" %></span>
  <% end %>

  <% member.war_zeros.each do %>
    <span data-toggle="tooltip" data-placement="top" title="War Zero"><%= image_tag "zero.png" %></span>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_member_path(member), class: "admin" %>
  <% end %>
</div>
<% end %>