<%= link_to 'Add Member', new_member_path, class: "btn btn-info" %>

<h1>Leader</h1>
<% @leaders.each do |member| %>
  <div class"well well-sm">
    <%= member.user_name %> |
    <%= link_to 'Show', member %> |
    <%= link_to 'Edit', edit_member_path(member) %>
  </div>
<% end %>

<h1>Co Leaders</h1>
  <% @co_leaders.each do |member| %>
<div class"well well-sm">
  <%= member.user_name %> |
  <%= link_to 'Show', member %> |
  <%= link_to 'Edit', edit_member_path(member) %>
</div>
<% end %>

<h1>Elders</h1>
<% @elders.each do |member| %>
  <div>
    <%= member.user_name %> |
    <%= link_to 'Show', member %> |
    <%= link_to 'Edit', edit_member_path(member) %>
  </div>
<% end %>

<h1>Members</h1>
<% @members.each do |member| %>
  <div>
    <%= member.user_name %> |
    <%= link_to 'Show', member %> |
    <%= link_to 'Edit', edit_member_path(member) %>
  </div>
<% end %>
