<h1>Clan Members</h1>

<% if user_signed_in? %>
<%= link_to 'Add Member', new_member_path, class: "btn btn-success" %>
<br>
<% end %>

<h3>Leader</h3>
<%= render 'member', members: @leaders %>

<h3>Co-Leaders</h3>
<%= render 'member', members: @co_leaders %>

<h3>Elders</h3>
<%= render 'member', members: @elders %>

<h3>Members</h3>
<%= render 'member', members: @members %>






