
<h2>Clan Members</h2>
<%= link_to 'Add Member', new_member_path, class: "btn btn-success" %>
<br>
<br>
<% @leaders.each do |member| %>
  <div class="member well well-sm">
    <span>Leader</span> |
    <span><%= link_to member.user_name, member %></span>
    <%= link_to 'Edit', edit_member_path(member), class: "admin" %>
  </div>
<% end %>

<% @co_leaders.each do |member| %>
  <div class="member well well-sm">
    <span>Co-Leader</span> |
    <span><%= link_to member.user_name, member %></span>
    <%= link_to 'Edit', edit_member_path(member), class: "admin" %>
  </div>
<% end %>

<% @elders.each do |member| %>
  <div class="member well well-sm">
    <span>Elder</span> |
    <span><%= link_to member.user_name, member %></span>
    <%= link_to 'Edit', edit_member_path(member), class: "admin" %>
  </div>
<% end %>

<% @members.each do |member| %>
  <div class="member well well-sm">
    <span>Member</span> |
    <span><%= link_to member.user_name, member %></span>
    <%= link_to 'Edit', edit_member_path(member), class: "admin" %>
  </div>
<% end %>
