<%= link_to 'Add Member', new_member_path, class: "btn btn-success" %>

<h4>Leader</h4>
<% @leaders.each do |member| %>
  <div class"well well-sm">
    <%= link_to member.user_name, member %> |
    <%= link_to 'Edit', edit_member_path(member) %>
  </div>
<% end %>

<h4>Co Leaders</h4>
  <% @co_leaders.each do |member| %>
<div class"well well-sm">
  <%= link_to member.user_name, member %> |
  <%= link_to 'Edit', edit_member_path(member) %>
</div>
<% end %>

<h4>Elders</h4>
<% @elders.each do |member| %>
  <div>
    <%= link_to member.user_name, member %> |
    <%= link_to 'Edit', edit_member_path(member) %>
  </div>
<% end %>

<h1>Members</h1>
<% @members.each do |member| %>
  <div>
    <%= link_to member.user_name, member %> |
    <%= link_to 'Edit', edit_member_path(member) %>
  </div>
<% end %>
