<h1 class="page-header"><%= @member.user_name %>'s Profile</h1>

<h3><span>Rank: </span><%= @member.title %></h3>

<h3><span>Awarded War Hero: </span></h3>
<% @hero_wars.each do |war|%>
  <%= render 'wars/scoreboard', war: war %>
<% end %>

<h3><span>Declared War Zero: </span></h3>
<% @zero_wars.each do |war|%>
  <%= render 'wars/scoreboard', war: war %>
<% end %>

<h3><span>Received Violation: </span></h3>
<% @violation_wars.each do |war|%>
  <%= render 'wars/scoreboard', war: war %>
<% end %>
